Plugins>Registration, "Relative-Intensity Pattern Registration...", ripr.RelativeIntensityPatternRegistrationPlugin
Plugins>Registration, "RIPR Longitudinal (accepted recipes)...", ripr.AcceptedLongitudinalPlugin
Plugins>Registration, "Relative-Intensity Pattern Registration Batch...", ripr.RelativeIntensityPatternRegistrationBatchPlugin
